form#alxs-matrix-form .form-item.form-type-textfield,
form#alxs-matrix-form .form-item.form-type-radios {
  width: 100%;
  box-sizing: border-box;
}
form#alxs-matrix-form input.form-autocomplete,
form#alxs-matrix-form input.form-text,
form#alxs-matrix-form input.form-file,
form#alxs-matrix-form textarea.form-textarea,
form#alxs-matrix-form select.form-select {
  width: 100%;
  box-sizing: border-box;
}
form#alxs-matrix-form input.form-autocomplete,
form#alxs-matrix-form input.form-text,
form#alxs-matrix-form input.form-file,
form#alxs-matrix-form textarea.form-textarea,
form#alxs-matrix-form select.form-select {
  max-width: 100%;
}
form#alxs-matrix-form .color_picker {
  background-image: none !important;
}
form#alxs-matrix-form h2 {
  clear: both;
}
form#alxs-matrix-form fieldset.filter-wrapper {
  border: none;
}
form#alxs-matrix-form hr {
  border-color: 1px solid #1d1d1d;
  clear: both;
}
form#alxs-matrix-form .form-item.form-type-jquery-colorpicker {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}
@media(min-width:30.063em) {
  form#alxs-matrix-form .form-item.form-type-jquery-colorpicker {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
  }
}
@media(min-width:40em) {
  form#alxs-matrix-form .form-item.form-type-textfield,
  form#alxs-matrix-form .form-item.form-type-radios,
  form#alxs-matrix-form .text-format-wrapper {
    width: 50%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
  }
}
