@font-face {
  font-family: 'MatrixCodeNFI';
  src: url('MatrixCodeNFI.woff') format('woff'), url('MatrixCodeNFI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'matrix code nfi';
  src: url('matrix code nfi.eot');
  src: url('matrix code nfi.eot?#iefix') format('embedded-opentype'), url('matrix code nfi.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
